.container{
   background: url(../images/background.png); 
   background-repeat: no-repeat;
   background-size: cover;
   padding: 0px 5px 0px 5px;
   decoration: flex;
   text-decoration: none;
   text-decoration-style: none;
}
h1{
    text-align: center;
    padding-top: 10%;
}
.list{
    color: black;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    font-weight: bold;
}
li a{color:rgb(5, 5, 5);
} 